In [36]:
import yfinance as yf

aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [75]:
from pycaret.internal.pycaret_experiment import TimeSeriesExperiment

exp = TimeSeriesExperiment()
exp.setup(data=data,session_id=42,fh=365)

ModuleNotFoundError: No module named 'pycaret.internal.pycaret_experiment'

In [38]:
aapl_historical = aapl.history(start="2020-06-02", end="2021-06-07", interval="1d")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-06-02,79.415740,80.081768,78.965117,80.057007,87642800,0.0,0.0
2020-06-03,80.383835,80.765132,79.799510,80.497726,104491200,0.0,0.0
2020-06-04,80.316980,80.621515,79.423162,79.804459,87560400,0.0,0.0
2020-06-05,80.059481,82.139268,80.029771,82.077370,137250400,0.0,0.0
2020-06-08,81.767878,82.597319,81.042430,82.562653,95654400,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-28,125.199422,125.428747,124.182436,124.242256,71311100,0.0,0.0
2021-06-01,124.710865,124.980065,123.574230,123.913223,67637100,0.0,0.0
2021-06-02,123.913221,124.870387,123.683904,124.690918,59278900,0.0,0.0
2021-06-03,124.312050,124.481547,122.766621,123.175415,76229200,0.0,0.0
2021-06-04,123.703850,125.787686,123.484498,125.518478,75169300,0.0,0.0

In [59]:
# retrieve date from aapl_historical
#aapl_historical.index

# join date and close in a new df
pd.DataFrame(aapl_historical['Close'])

                 Close
Date
2020-06-02   80.057007
2020-06-03   80.497726
2020-06-04   79.804459
2020-06-05   82.077370
2020-06-08   82.562653
...                ...
2021-05-28  124.242256
2021-06-01  123.913223
2021-06-02  124.690918
2021-06-03  123.175415
2021-06-04  125.518478

[255 rows x 1 columns]

TypeError: cannot concatenate object of type '<class 'pandas._libs.tslibs.timestamps.Timestamp'>'; only Series and DataFrame objs are valid

In [65]:
from pycaret.regression import *

clf = setup(data = pd.DataFrame(aapl_historical['Close']), target='Close',
            numeric_features=['Close'],
            fold_strategy='timeseries')

ValueError: Column type forced is either target column or doesn't exist in the dataset.

In [62]:
compare_models()

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=3280, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)